:root {
  --sidenav-width: 250px;
  --topbar-height: 80px;
}

.app-wrapper > .wrapper > .topnav {
  height: var(--topbar-height);
}

.app-wrapper > .wrapper > .topnav > .splash {
  height: 12px;
  background: linear-gradient(to right, #E53E3E, #ED8936, #ED64A6);
}


.app-wrapper > .wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-wrapper > .wrapper > .content {
  flex-grow: 1;
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}