@import "./tailwind.pcss";

@font-face {
  font-family: "cairo";
  src: url(/fonts/cairo/Cairo-Regular.ttf);
}


@font-face {
  font-weight: bold;
  font-family: "cairo";
  src: url(/fonts/cairo/Cairo-Bold.ttf);
}


@font-face {
  font-family: "fredoka";
  src: url(/fonts/fredoka_one/FredokaOne-Regular.ttf);
}

.fredoka {
  font-family: fredoka;
}

#app {
  font-family: "cairo";
}